@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.archivo {
    font-family: 'Archivo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.archivo-black {
    font-family: 'Archivo Black', serif;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.menu .no-arrow::after {
    display: none !important;
}

.btn.cta {
    border-radius: 1000px;
    border-width: 0px;
    width: fit-content;
    padding: 12px 32px;
    background-color: #082f49;
    font-size: small;
    font-weight: bold;
}

h1 {
    color: #082f49;
    font-size: 22px;
    font-family: 'Archivo Black', serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Archivo Black', serif;
    font-weight: 400;
    font-style: normal;
}

h2,
h3,
p {
    font-size: 14px;
}

.icon.white {
    filter: brightness(0) invert(1);
}

.over-shadow {
    -webkit-box-shadow: 0px 17px 32px 19px #1f1f1f;
    box-shadow: 0px 17px 32px 19px #1f1f1f;
}
